<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CircleHQ alpha</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="manifest" href="/static/manifest.json">
    <script>
        if (navigator.serviceWorker) {
            navigator.serviceWorker.register('/static/service-worker.js')
        }
    </script>
</head>

<body class="tab-mode">

    <header class="app-header">
        <nav class="tabs">
            <button class="tab-button active" data-target="dashboard">ダッシュボード</button>
            <button class="tab-button" data-target="management">取置管理</button>
        </nav>
        <button id="tab-reload-button">タブリロード</button>
        <button id="tab-reconcile-button">在庫更新</button>
    </header>

    <main id="content-area" class="content-area">
        <iframe id="dashboard-frame" class="content-frame active" src="dashboard" title="ダッシュボード"></iframe>
        <iframe id="management-frame" class="content-frame" src="{{.SpreadSheetURL}}" title="取置管理"></iframe>
    </main>

    <script src="/static/wasm_exec.js"></script>
    <script>
        if (!WebAssembly.instantiateStreaming) {
            WebAssembly.instantiateStreaming = async (resp, importObject) => {
                const source = await (await resp).arrayBuffer();
                return await WebAssembly.instantiate(source, importObject);
            };
        }
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("/static/index.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>
</body>

</html>